.sysConfigs {
    background-color: #000000d9;
    color: white;
    display: flex;
    position: absolute;
    overflow-x: auto;
    z-index: 20;
    top: calc(var(--sysheight)*0.24);
    height: calc(var(--sysheight)*0.45);
    min-width: calc(var(--syswidth) + 25px);
    padding: 5px 0;
    left: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.tool {
    position: relative;
    min-width: inherit;
    font-size: 1.4em;
}

.nameplate {
    display: flex;
    align-items: center;
}

.buttonSetting {
    display: flex;
    flex-direction: column;
}

.buttonSetting select {
    font-size: 1em;
}